@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    outline: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 22px;
}

body {
    display: flex;
    justify-content: center;
}

